{% extends "bootstrap/base.html" %}
{% block content %}
<head>
    <title>Taras's Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="/static/style.css">
    <link href="/static/blog.css" rel="stylesheet">
</head>
<body>


<header>
    <div class="blog-masthead">
        <div class="container">
            <nav class="nav">
                <a class="nav-link" href="{{url_for('about')}}">About me</a>
                <a class="nav-link" href="{{url_for('skills')}}">IT Skills</a>
                <a class="nav-link" href="{{url_for('pygame')}}">PyGame</a>
                <a class="nav-link" href="{{url_for('addcontact')}}">Add your contact</a>
                <a class="nav-link" href="{{url_for('mycontacts')}}">My contacts</a>
            </nav>
        </div>
    </div>
</header>

{% for el in contacts %}

<h2>
    Name : {{ el.name +" "+ el.surname }}
</h2>

<h2>
    Email : {{ el.email }}
</h2>
<h2>
    Phone : {{ el.telephone }}
</h2>
<h2>
    Date : {{ el.date_posted.strftime('%B %d, %Y') }}
</h2>


<hr>

{% endfor %}

</body>
{% endblock %}
