body {
    background-color: #928d8d;
    }

.restyle, .mb-3 {
color: black;

}

a {
    color: white;
    font-size : 30px;
    text-decoration: none;
}

h1 {
margin: 0 0 20px 15px;
color : white;
font-size : 40px;
}

p {
color : white;
font-size : 20px;
margin: 0 0 0 20px;
}

#aboutme-pic{
    float: left;
    margin: 20px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.glyphicon {
top: 200px
}

.card-header {
background-color: #bdbdbd;
}

.item {
background-color: #ececec;
}